@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
@import url(http://fonts.googleapis.com/css?family=Merienda+One:400);

button {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  background-color: none;
  outline: none;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer;
}

.title {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 300%;
}

.titleBox {
  position: relative;
  width: 100%;
  padding: 60px 0;
  text-align: center;
  background: #33cccc;
  color: white;
}
.game-board {
  width: 70%;
  margin-left: 7%;
}

.game {
  display: flex;
  flex-direction: row;
}

.board-row {
  top: 50%;
  left: 50%;
}

.board-row:after {
  clear: both;
  content: "";
  /* display: table; */
}

.vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.hori-vert {
  border: 2px solid black;
}

.square {
  float: left;
  font-size: 40px;
  font-family: "Merienda One", Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 94px;
  height: 94px;
  text-align: center;
  width: 94px;
}

.game-info {
  width: 100%;
  margin-left: 20px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 1000;
  font-size: larger;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 24px;
  text-align: center;
}

.status {
  margin-bottom: 10px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.moves {
  width: 30%;
  font-family: "Lato";
  margin-left: 5%;
}

ol,
ul {
  padding-left: 30px;
  text-align: start;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  list-style-type: none;
}

.game-board,
.moves {
  display: inline;
}
